.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 55x;
  background-color: white;
  border-bottom: rgb(207, 204, 204);
  border-width: 1px;
  border-bottom-style: solid;
  z-index: 1;
}

.left-section {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-menu {
  margin-left: 24px;
  margin-right: 24px;
  height: 24px;
  cursor: pointer;

}
.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.middle-section {
  margin-left: 70px;
  margin-right: 35px;
  flex: 1;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-box{
  margin-left: 20px;
  font-family: roboto;
  padding-left: 12px;
  height: 36px;
  flex: 1;
  font-size: 16px;
  border-style: solid;
  border-width: 0.1px;
  border-color: rgb(204, 204, 204);
  width: 0;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.search-icon-button {
  height: 40px;
  width: 64px;
  border-style: solid;
  border-left: 0;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.search-icon {
  height: 24px;  
  padding-left: 14px;
  cursor: pointer;
}

.voice-search-icon-button {
  margin-left: 5px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border-width: 0;
  background-color: rgb(248, 248, 248);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.voice-search-icon {
  height: 24px;
  width: 30px;
  cursor: pointer;
}


.right-section {
  width: 206px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload {
  height: 24px;
  cursor: pointer;
}

.youtube-apps {
  height: 24px;
  cursor: pointer;
}

.notifications {
  height: 24px;
  position: relative;
  padding-top: 5px;
  cursor: pointer;
}

.notifications-value {
 font-family: roboto, arial;
 position: absolute;
 font-size: 12px;
 top: 15px;
 right: 78px;
 background-color: red;
 color: white;
 padding-left: 4px;
 padding-right: 4px;
 padding-top: 1px;
 padding-bottom: 1px;
 border-radius: 15px;
 border-width: 1px;
 border-color: white;
}

.mypfp {
  height: 32px;
  border-radius: 16px;
  margin-right: 24px;
  cursor: pointer;
}